@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    /* background-color: rgb(40, 23, 61); */

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}
nav ul li a{
    text-decoration: none;
    color: rgba(214, 214, 229, 0.966);
}
nav ul li a:hover{
    color: rgba(129, 129, 233, 0.949);
    font-size: 1.04rem;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.row{
    margin: 8px 0;
  }
.rowa button{
    color: red;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}